<div class="password-reset">
  <h2>Change your password</h2>

  <p>Your password has been reset. Choose a new password below.</p>

  <%= form_for [@user, @password_reset] do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit 'Update Password' %>
    </div>
  <% end %>
</div>
