<div class="password-reset">
  <h2>Reset your password</h2>

  <p>To be emailed a link to reset your password, please enter your email address.</p>

  <%= form_for @password_reset do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="submit-field">
      <%= form.submit 'Reset Password' %>
    </div>
  <% end %>
</div>
